/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Estilos do Formulário */
#feedback-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#feedback-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#feedback-form input, 
#feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#feedback-form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#feedback-form button:hover {
    background-color: #4cae4c;
}

/* Estilos Gerais para Admin */
#feedback-list {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.feedback-item:last-child {
    border-bottom: none;
}

.feedback-item p {
    margin: 0;
    font-size: 16px;
}

.feedback-item button {
    background-color: #d80202;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-item button:hover {
    background-color: #f82525;
}

.feedback-item button.delete {
    background-color: #d9534f;
}

.feedback-item button.delete:hover {
    background-color: #c9302c;
}

#generate-report {
    margin-left: 220px;
    background-color: #f78402;
    color: white;
    border: none;
    padding: 8px 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#generate-report:hover {
    background-color: #db7623;
}